# Reverse Proxy: {{ .Domain }}
server {
    listen 80;
    server_name {{ .Domain }};

    {{if .EnableSSL}}
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ .Domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ .Domain }}/privkey.pem;
    {{end}}

    location / {
        proxy_pass {{ .Destination }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
} 